<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Index</title>
</head>
<body>
    <nav class="row navbar">
        <div class="col navItem">
            <a href="/" class="textDecorationNone">Home</a>
        </div>
    </nav>
    {% for row in randomDogs %}
        <div class="row spaceEvenly">
            {% for dog in row %}
                <div class="col cardCol">
                    <div class="card">
                        <img src="../static/images/test.jpg" alt="">
                        <h2>{{ dog["Name"] }}</h2>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</body>
</html>