<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Test</title>
</head>
<body>
    <nav class="row navbar">
        <div class="col navItem">
            <a href="/" class="textDecorationNone">Home</a>
        </div>
    </nav>
    <div class="row spaceEvenly">
        <div class="col cardCol">
            <div class="card">
                <img src="../static/images/test.jpg" alt="">
                <h2>Name</h2>
            </div>
        </div>
    </div>
</body>
</html>