<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View | {{ dog["name"] }}</title>
</head>
<body>
    <div class="row spaceEvenly">
        <div class="col cardCol">
            <div class="card">
                <img src="../static/images/test.jpg" alt="">
                <h2>{{ dog["name"] }}</h2>
            </div>
        </div>
    </div>
    <p>
        {{ dog["info"] }}
    </p>
</body>
</html>