:root {
    --backroundSecondary: rgb(181, 255, 187);
}
body {
    margin: 0;
}
.navbar {
    justify-content: space-evenly;
    padding: 2%;
}
.navItem {
    background-color: var(--backroundSecondary);
    padding: 1.5%;
    border-radius: 0.25rem;
    text-align: center;
}
.textDecorationNone {
    text-decoration: none;
}
.col {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.spaceEvenly {
    justify-content: space-evenly;
}
.cardCol {
    width: calc(33% - 40px);
}
.card {
    width: 100%;
    border-radius: 0.25rem;
    cursor: pointer;
    user-select: none;
    text-align: center;
    background-color: var(--backroundSecondary);
}
.card img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 0.25rem;
    user-select: none;
    -webkit-user-drag: none;
}